<div class="profile-header-container">   
    <div class="profile-header-img">
        <img class="img-circle" src="{{getGravatarImageURL()}}" />
    </div>
    <div class="profile-name-time">
        <div class="profile-name" class="text-left text-nowrap">
            <a *ngIf="user.tier === tierType.PRO" [routerLink]="['/user', user.username]">{{user.username}}</a>
            <p *ngIf="user.tier != tierType.PRO" class="mb-0">{{user.username}}</p>
        </div>
        <div class="profile-time text-left text-muted text-nowrap">
            <ng-container *ngIf="rating && rating > 0">
                {{rating}} <fa-icon class="star" [icon]="'star'"></fa-icon>
            </ng-container>
            <ng-container *ngIf="timestamp">
                {{timestamp | timeAgo}}
            </ng-container>
        </div>
    </div>
</div> 
