
<div class="container">
    <h2 id="page-heading">
    <span>Buy and sell names</span>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-listing"
            [routerLink]="['/listing/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span class="hidden-sm-down">
                New Listing
            </span>
    </button>
</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" (click)="showTab = 'buying'">
        <a class="nav-link" [ngClass]="{'active': showTab == 'buying'}" id="buying-tab" data-toggle="tab" role="tab" aria-controls="buying" aria-selected="true">Buying</a>
    </li>
    <li class="nav-item" (click)="showTab = 'selling'">
        <a class="nav-link" [ngClass]="{'active': showTab == 'selling'}" id="selling-tab" data-toggle="tab" role="tab" aria-controls="selling" aria-selected="false">Selling</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': showTab == 'buying'}" id="buying" role="tabpanel" aria-labelledby="buying-tab">
            <div class="alert alert-warning" *ngIf="!buyingListings.length">
                <span>You haven't created any buying listings.</span>
            </div>
            <jhi-listing-list [listings]="buyingListings" *ngIf="buyingListings.length"></jhi-listing-list>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': showTab == 'selling'}" id="selling" role="tabpanel" aria-labelledby="selling-tab">
            <div class="alert alert-warning" *ngIf="!sellingListings.length">
                <span>You haven't created any selling listings.</span>
            </div>
            <jhi-listing-list [listings]="sellingListings"  *ngIf="sellingListings.length"></jhi-listing-list>
        </div>
    </div>
</div>

