<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2  *ngIf="account">Settings for <b>{{account.username}}</b></h2>
            <jhi-alert-error></jhi-alert-error>

            <p class="form-control-label">Profile picture</p>
            <a href="https://gravatar.com" target="_blank">
                <img src="{{getGravatarImageURL()}}" class="rounded-circle" style="margin-bottom: 16px; margin-top: -8px;"/>
            </a>

            <div *ngIf="account && account.tier !== tierType.FREE">
                Manage subscription: 
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-secondary dropdown-toggle" type="button" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                      {{account.tier}}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton" ngbDropdownD>
                      <a class="dropdown-item" (click)="reviseSubscription(tierType.PRO)" *ngIf="account.tier === tierType.STARTER">Upgrade to Pro tier</a>
                      <a class="dropdown-item" (click)="reviseSubscription(tierType.STARTER)" *ngIf="account.tier === tierType.PRO">Downgrade to Starter tier</a>
                      <a class="dropdown-item" (click)="cancelSubscription()">Cancel subscription</a>
                    </div>
                  </div>            
            </div>
        </div>
    </div>

</div>
