<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2  *ngIf="account">Settings for <b>{{account.username}}</b></h2>

            <jhi-alert-error></jhi-alert-error>

            <p class="form-control-label">Profile picture</p>
            <a href="https://gravatar.com" target="_blank">
                <img src="{{getGravatarImageURL()}}" class="rounded-circle" style="margin-bottom: 16px; margin-top: -8px;"/>
            </a>

           <button class="btn btn-primary" (click)="cancelSubscription()">Unsubscribe</button>
        </div>
    </div>

</div>
