<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row text-center">
        <div class="col">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" [routerLink]="['/pricing']" fragment="listings">Listings</a></li>
                <li><a class="text-muted" [routerLink]="['/pricing']" fragment="reputation">Reputation</a></li>
                <li><a class="text-muted" [routerLink]="['/pricing']" fragment="store">Store page</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Community</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://discord.gg/sZgV6E4" target="_blank">Discord channel</a></li>
            </ul>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Trading etiquette</a></li>
            </ul>
        </div>
    </div>
</footer>
