<div>
    <h2 id="page-heading">
        <span>Offers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/offer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="offers?.length === 0">
        <span>No offers found</span>
    </div>
    <div class="table-responsive" *ngIf="offers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Timestamp</span></th>
            <th><span>Description</span></th>
            <th><span>Status</span></th>
            <th><span>Owner</span></th>
            <th><span>Listing</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of offers ;trackBy: trackId">
                <td><a [routerLink]="['/offer', offer.id, 'view' ]">{{offer.id}}</a></td>
                <td>{{offer.timestamp | date:'medium'}}</td>
                <td>{{offer.description}}</td>
                <td>{{offer.status}}</td>
                <td>
                    {{offer.owner?.username}}
                </td>
                <td>
                    <div *ngIf="offer.listing">
                        <a [routerLink]="['../listing', offer.listing?.id, 'view' ]" >{{offer.listing?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/offer', offer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/offer', offer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'offer', { outlets: { popup: offer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
