<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span>Offer</span> {{offer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{offer.timestamp}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{offer.description}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{offer.status}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{offer.owner?.username}}
                </dd>
                <dt><span>Listing</span></dt>
                <dd>
                    <div *ngIf="offer.listing">
                        <a [routerLink]="['/listing', offer.listing?.id, 'view']">{{offer.listing?.description}}</a>
                    </div>
                </dd>
                <dt><span>Comments</span></dt>
                <dd>
                    <span *ngFor="let comments of offer.comments; let last = last">
                        <a [routerLink]="['/comment', comments?.id, 'view' ]">{{comments.text}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
