<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-middleman-request-heading">Create or edit a Middleman Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_trade">Trade</label>
                    <select class="form-control" id="field_trade" name="trade" formControlName="trade">
                        <option *ngIf="!editForm.get('trade').value" [ngValue]="null" selected></option>
                        <option [ngValue]="tradeOption.id === editForm.get('trade').value?.id ? editForm.get('trade').value : tradeOption" *ngFor="let tradeOption of trades; trackBy: trackTradeById">{{tradeOption.offer?.description}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('trade').invalid && (editForm.get('trade').dirty || editForm.get('trade').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('trade').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_recipient">Recipient</label>
                    <select class="form-control" id="field_recipient" name="recipient" formControlName="recipient">
                        <option *ngIf="!editForm.get('recipient').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('recipient').value?.id ? editForm.get('recipient').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.username}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('recipient').invalid && (editForm.get('recipient').dirty || editForm.get('recipient').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('recipient').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
