<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="middlemanRequest">
            <h2><span>Middleman Request</span> {{middlemanRequest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{middlemanRequest.timestamp}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{middlemanRequest.description}}</span>
                </dd>
                <dt><span>Trade</span></dt>
                <dd>
                    <div *ngIf="middlemanRequest.trade">
                        <a [routerLink]="['/trade', middlemanRequest.trade?.id, 'view']">{{middlemanRequest.trade?.id}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{middlemanRequest.user?.id}}
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{middlemanRequest.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/middleman-request', middlemanRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
