<div class="modal-header">
    <h4 class="modal-title">Rate the trade</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p>In order to keep the community informed and scam free, please give an accurate
    rating of how professional and trusted you believe the other party to be. Perhaps make their day and even leave a nice compliment.</p>
    <div class="c-star-rating">
        <fa-icon [icon]="'star'" [ngClass]="{'c-star-selected': score> 1, 'c-star-unselected': !score}" (click)="setScore(1)"></fa-icon>
        <fa-icon [icon]="'star'" [ngClass]="{'c-star-selected': score>= 2, 'c-star-unselected': !score}" (click)="setScore(2)"></fa-icon>
        <fa-icon [icon]="'star'" [ngClass]="{'c-star-selected': score>= 3, 'c-star-unselected': !score}" (click)="setScore(3)"></fa-icon>
        <fa-icon [icon]="'star'" [ngClass]="{'c-star-selected': score>= 4, 'c-star-unselected': !score}" (click)="setScore(4)"></fa-icon>
        <fa-icon [icon]="'star'" [ngClass]="{'c-star-selected': score== 5, 'c-star-unselected': !score}" (click)="setScore(5)"></fa-icon>
    </div>
    <textarea class="form-control" [(ngModel)]="message" rows="3" name="message" placeholder=""></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmTrade(tradeStatus.DECLINED)" [disabled]="message.length === 0 || !score">
        <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>There was a problem</span>
    </button>
    <button id="jhi-confirm-delete-listing" (click)="confirmTrade(tradeStatus.CONFIRMED)" class="btn btn-success"
            [disabled]="message.length === 0 || !score">
        <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span>Successful trade</span>
    </button>
</div>
