<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comment-heading">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                    <div *ngIf="editForm.get('comment').invalid && (editForm.get('comment').dirty || editForm.get('comment').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comment').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trade">Trade</label>
                    <select class="form-control" id="field_trade" name="trade" formControlName="trade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tradeOption.id === editForm.get('trade').value?.id ? editForm.get('trade').value : tradeOption" *ngFor="let tradeOption of trades; trackBy: trackTradeById">{{tradeOption.offer}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_offer">Offer</label>
                    <select class="form-control" id="field_offer" name="offer" formControlName="offer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offerOption.id === editForm.get('offer').value?.id ? editForm.get('offer').value : offerOption" *ngFor="let offerOption of offers; trackBy: trackOfferById">{{offerOption.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_middlemanRequest">Middleman Request</label>
                    <select class="form-control" id="field_middlemanRequest" name="middlemanRequest" formControlName="middlemanRequest">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="middlemanRequestOption.id === editForm.get('middlemanRequest').value?.id ? editForm.get('middlemanRequest').value : middlemanRequestOption" *ngFor="let middlemanRequestOption of middlemanrequests; trackBy: trackMiddlemanRequestById">{{middlemanRequestOption.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
