.c-offer {
  margin-bottom: 8px;
}

.c-comment-entry {
  margin-bottom: 8px;
}

.c-comment-text {
  margin-left: 50px;
}

.c-comment {
  margin: 8px 0px;
}

.c-offer-status {
  text-transform: capitalize !important;
  font-size: smaller;
}

.card-title {
  display: flex;
}

.c-offer-profile {
  flex-grow: 1;
}

.c-accepted {
  border-color: #c3e6cb;
}

.c-declined {
  border-color: #f5c6cb;
}

.trade-rating-button {
  cursor: pointer;
}
