<div class="c-offer">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class="c-offer-profile">
                    <jhi-user-profile [user]="offer?.owner"></jhi-user-profile>
                </div>
                <div class="c-statuses">
                     <div class="alert" class="c-offer-status"
                           [ngClass]="{'text-success': offer.status == offerStatus.ACCEPTED,
                        'text-danger': offer.status == offerStatus.DECLINED}"
                           *ngIf="offer.status !== offerStatus.PENDING"
                     >{{offer.status}}</div>
                    <div class="c-trade-status">
                        <div class="alert" [ngClass]="{'alert-success': trade.listingOwnerStatus === tradeStatus.CONFIRMED,
                                        'alert-danger': trade.listingOwnerStatus === tradeStatus.DECLINED,
                                        'alert-secondary': trade.listingOwnerStatus === tradeStatus.CONFIRMED}">
                            <img [src]="getGravatarImageURL(trade.offer.listing.owner.email)" width="25" height="25" class="rounded-circle">
                            {{trade.offer.listing.owner.username}}
                            <span *ngIf="trade.listingOwnerStatus === tradeStatus.DECLINED"> indicated there was a problem with the trade.</span>
                            <span *ngIf="trade.listingOwnerStatus === tradeStatus.CONFIRMED"> marked the trade as a success.</span>
                            <span *ngIf="trade.listingOwnerStatus === tradeStatus.PENDING"> has yet to indicate whether the trade was successful or not.</span>
                        </div>
                        <div class="alert" [ngClass]="{'alert-success': trade.offerOwnerStatus === tradeStatus.CONFIRMED,
                                        'alert-danger': trade.offerOwnerStatus === tradeStatus.DECLINED,
                                        'alert-secondary': trade.offerOwnerStatus === tradeStatus.CONFIRMED}">
                            <img [src]="getGravatarImageURL(trade.offer.owner.email)" width="25" height="25" class="rounded-circle">
                            {{trade.offer.owner.username}}
                            <span *ngIf="trade.offerOwnerStatus === tradeStatus.DECLINED"> indicated there was a problem with the trade.</span>
                            <span *ngIf="trade.offerOwnerStatus === tradeStatus.CONFIRMED"> marked the trade as a success.</span>
                            <span *ngIf="trade.offerOwnerStatus === tradeStatus.PENDING"> has yet to indicate whether the trade was successful or not.</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="card-text">{{offer.description}}</p>
            <hr />
            <div class="c-comment" *ngFor="let comment of comments">
                <div>
                    <jhi-user-profile [user]="comment.owner" [timestamp]="comment.timestamp"></jhi-user-profile>
                </div>
                <div class="c-comment-text">
                    {{comment.text}}
                </div> 
            </div>
            <div class="c-comment-container">
                <textarea class="form-control c-comment-entry" rows="3" [(ngModel)]="newCommentText" name="new-comment-text" placeholder="Leave a message for the other person..."></textarea>
            </div>
            <button type="button" (click)="onPostCommentClick()" [disabled]="newCommentText.length === 0" class="btn btn-success">
                    <fa-icon [icon]="'comment-medical'"></fa-icon>&nbsp;<span>Comment</span>
            </button>
            <ng-container *ngIf="trade != null && isNotYetConfirmed()" >
                <button type="button" (click)="onChangeTradeStatusClick(tradeStatus.CONFIRMED)"  class="btn btn-success">
                    <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span>Confirm</span>
                </button>
                <button type="button" (click)="onChangeTradeStatusClick(tradeStatus.DECLINED)" class="btn btn-danger">
                    <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>There was a problem</span>
                </button>
            </ng-container>
            <ng-container *ngIf="offer.listing.owner.id === currentAccount?.id && offer.status == offerStatus.PENDING">
                <button type="button" (click)="onChangeOfferClick(offerStatus.ACCEPTED)" class="btn btn-success" *ngIf="canAccept">
                    <fa-icon [icon]="'exchange-alt'"></fa-icon>&nbsp;<span>Accept</span>
                </button>
                <button type="button" (click)="onChangeOfferClick(offerStatus.DECLINED)" class="btn btn-danger">
                    <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Decline</span>
                </button>
            </ng-container>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated {{offer.timestamp | date:'medium'}}</small>
        </div>
    </div>
</div>
