<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trade-heading">Create or edit a Trade</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_listingOwnerStatus">Listing Owner Status</label>
                    <select class="form-control" name="listingOwnerStatus" formControlName="listingOwnerStatus" id="field_listingOwnerStatus">
                        <option value="PENDING">PENDING</option>
                        <option value="CONFIRMED">CONFIRMED</option>
                        <option value="DECLINED">DECLINED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_offerOwnerStatus">Offer Owner Status</label>
                    <select class="form-control" name="offerOwnerStatus" formControlName="offerOwnerStatus" id="field_offerOwnerStatus">
                        <option value="PENDING">PENDING</option>
                        <option value="CONFIRMED">CONFIRMED</option>
                        <option value="DECLINED">DECLINED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_offer">Offer</label>
                    <select class="form-control" id="field_offer" name="offer" formControlName="offer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offerOption.id === editForm.get('offer').value?.id ? editForm.get('offer').value : offerOption" *ngFor="let offerOption of offers; trackBy: trackOfferById">{{offerOption.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
