<div>
    <h2 id="page-heading">
        <span>Trades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trade" [routerLink]="['/trade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Trade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="trades?.length === 0">
        <span>No trades found</span>
    </div>
    <div class="table-responsive" *ngIf="trades?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Status</span></th>
            <th><span>Offer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trade of trades ;trackBy: trackId">
                <td><a [routerLink]="['/trade', trade.id, 'view' ]">{{trade.id}}</a></td>
                <td>{{trade.status}}</td>
                <td>
                    <div *ngIf="trade.offer">
                        <a [routerLink]="['../offer', trade.offer?.id, 'view' ]" >{{trade.offer?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trade', trade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trade', trade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trade', { outlets: { popup: trade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
