<div>
    <h2 id="page-heading">
        <span>Trades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trade" [routerLink]="['/trade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Trade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="trades?.length === 0">
        <span>No trades found</span>
    </div>
    <div class="table-responsive" *ngIf="trades?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="listingOwnerStatus"><span>Listing Owner Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="offerOwnerStatus"><span>Offer Owner Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="offer.description"><span>Offer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trade of trades ;trackBy: trackId">
                <td><a [routerLink]="['/trade', trade.id, 'view' ]">{{trade.id}}</a></td>
                <td>{{trade.listingOwnerStatus}}</td>
                <td>{{trade.offerOwnerStatus}}</td>
                <td>
                    <div *ngIf="trade.offer">
                        <a [routerLink]="['../offer', trade.offer?.id, 'view' ]" >{{trade.offer?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trade', trade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trade', trade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'trade', { outlets: { popup: trade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="trades?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
