<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.comment.title}">New comment</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.comment.greeting(${user.username})}">
            Dear
        </p>
        <p th:text="#{email.comment.text1(${comment.offer.listing.rsn})}">
            You have a new comment on the listing
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/listing/${comment.offer.listing.id}/view|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
        <p>
            You can
            <a th:with="url=(@{|${baseUrl}/settings|})" th:href="${url}"
               th:text="${url}">unsubscribe from email notifications</a>
            any time by logging in and updating your preferences
        </p>
    </body>
</html>
