<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OSRS Names</h1>
    <p class="lead">
        The safest place to buy and sell Old School Runescape names. <br/>
        <ul style="font-size: 1.25rem; list-style: none;">
            <li>Stop browsing through dated forums.</li>
            <li>Stop bumping your posts.</li>
            <li>Stop getting scammed and sniped.</li>
        </ul>
        <p class="lead"><a (click)="onLoginClick()">Sign up</a> and start using for free - no payment details required!</p>
    </p>
</div>

<div class="container">
    <div class="card-deck mb-4 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Buying</h4>
            </div>
            <div class="card-body">
                <img class="d-block mx-auto" [src]="'/content/images/buy-arrow.svg' | safe:'resourceUrl'" height="80px">
                <h1 class="card-title pricing-card-title">{{buyingTotal}} <small class="text-muted"> wanted</small></h1>
                <button type="button" class="btn btn-lg btn-block btn-primary" (click)="onLoginClick()">Start buying</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Selling</h4>
            </div>
            <div class="card-body">
                <img class="d-block mx-auto" [src]="'/content/images/sell-arrow.svg' | safe:'resourceUrl'" height="80px">
                <h1 class="card-title pricing-card-title">{{sellingTotal}}<small class="text-muted"> for sale</small></h1>
                <button type="button" class="btn btn-lg btn-block btn-primary" (click)="onLoginClick()">Start selling</button>
            </div>
        </div>
    </div>
    <div class="card-deck mb-4 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Basics</h4>
            </div>
            <div class="card-body videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xWIvndG-Gbo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Trending</h4>
            </div>
            <div class="card-body">
                <fa-icon [icon]="'chart-line'" [size]="'5x'"></fa-icon>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let tag of trending">{{tag}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

