.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@-webkit-keyframes bounce2 {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.bounce2 {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
}

.app-loading {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10em;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#buy-arrow {
  background-image: url('../images/buy-arrow.svg');
  position: absolute;
  width: 115px;
  height: 140px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  top: -85px;
  right: 25px;
}

#sell-arrow {
  background-image: url('../images/sell-arrow.svg');
  position: absolute;
  width: 115px;
  height: 140px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  top: -85px;
  right: 140px;
}

#backpack {
  position: absolute;
  z-index: 1;
  background-image: url('../images/backpack.svg');
  width: 300px;
  height: 300px;
}
