<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">The total amount of names you can buy or sell is limited to your current tier.
        Each tier is a one-off payment in $USD. Upgrade to a premium tier to start building and display your trusted reputation.</p>

</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ USD</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 transactions</li>
                    <li class="text-muted"><s>Reputation</s></li>
                    <li class="text-muted"><s>Store page</s></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="['/register']">Sign up for free</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Premium</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$49 <small class="text-muted">/ USD</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>100 transactions</li>
                    <li>Reputation</li>
                    <li class="text-muted"><s>Store page</s></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Power Seller</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$99<small class="text-muted">/ USD</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited purchases</li>
                    <li>Reputation</li>
                    <li>Store page</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>
