<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 id="page-heading">
            <span>Listings</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-listing"
                [routerLink]="['/listing/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down">
                    Create new Listing
                </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                            name="currentSearch" placeholder="Search for specific name or category...">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="alert alert-warning" *ngIf="listings?.length === 0">
            <span>No listings found</span>
        </div>
        <div class="table-responsive" *ngIf="listings?.length > 0">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <th>
                        </th>
                        <th jhiSortBy="owner.username" class="text-nowrap"><span>Owner</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="rsn" class="text-nowrap"><span>Name</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="amount" class="text-nowrap"><span>GP</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="timestamp" class="text-nowrap"><span>Posted</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                    </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                    [infiniteScrollDistance]="0">
                    <tr *ngFor="let listing of listings ;trackBy: trackId" [routerLink]="['listing', listing.id, 'view']" style="cursor: pointer">
                        <td>
                            <img alt="{{listing.type === listingType.WANT ? 'Buying' : 'Selling'}}"
                                 src="/content/images/{{listing.type === listingType.WANT ? 'buying' : 'selling'}}-icon.png"
                                 title="{{listing.type === listingType.WANT ? 'Buying' : 'Selling'}}"
                                 width="40px">
                        </td>
                        <td>
                            <jhi-user-profile [user]="listing.owner"></jhi-user-profile>
                        </td>
                        <td>{{listing.rsn}}</td>
                        <td>{{listing.amount | osrsCurrency}}</td>
                        <td>{{listing.timestamp | timeAgo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
