<form name="deleteForm" (ngSubmit)="confirmOffer()">
    <div class="modal-header">
        <h4 class="modal-title">Make an offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-listing-heading">Send a small message along with your offer</p>
        <textarea class="form-control" [(ngModel)]="message" rows="3" name="message"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button id="jhi-confirm-delete-listing" type="submit" class="btn btn-success"
                [disabled]="message.length === 0">
            <fa-icon [icon]="'hand-holding-usd'"></fa-icon>&nbsp;<span> Offer</span>
        </button>
    </div>
</form>
