<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listing">
            <h2><img alt="{{listing.type === listingType.WANT ? 'Buying' : 'Selling'}}"
                     src="/content/images/{{listing.type === listingType.WANT ? 'buying' : 'selling'}}-icon.png"
                     title="{{listing.type === listingType.WANT ? 'Buying' : 'Selling'}}"
                     width="40px"> {{listing.rsn}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><jhi-user-profile [user]="listing.owner"></jhi-user-profile></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{listing.amount | osrsCurrency}}
                            <span *ngFor="let tag of listing.tags" class="badge badge-pill badge-info" style="margin-left: 6px">{{tag.name}}</span>
                        </h6>
                        <p class="card-text">{{listing.description}}</p>
                        <button type="button" [routerLink]="['/listing', listing.id, 'edit']"
                            *ngIf="currentAccount?.username === listing.owner.username" class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'listing', { outlets: { popup: listing.id + '/delete'} }]"
                                *ngIf="currentAccount && currentAccount.username === listing.owner.username"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                        <button [routerLink]="['/', 'listing', { outlets: { popup: listing.id + '/offer'} }]"
                                *ngIf="currentAccount?.username !== listing.owner.username"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-success">
                            <fa-icon [icon]="'hand-holding-usd'"></fa-icon>&nbsp;<span> Offer</span>
                        </button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{listing.timestamp.toString() | timeAgo}}</small>
                    </div>
                </div>
            </dl>

        </div>
    </div>
    <div class="col-8">
        <h1>Offers</h1>
        <jhi-listing-offer *ngFor="let offer of offers" [offer]="offer" [canAccept]="canAccept()"></jhi-listing-offer>
    </div>
</div>
