<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listing">
            <h2><span>Listing</span> {{listing.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{listing.timestamp}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{listing.type}}</span>
                </dd>
                <dt><span>Rsn</span></dt>
                <dd>
                    <span>{{listing.rsn}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{listing.amount}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{listing.description}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{listing.owner?.username}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/listing', listing.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
