<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listing">
            <h2>{{listing.type}} : {{listing.rsn}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><jhi-user-profile [user]="listing.owner"></jhi-user-profile></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{listing.amount | osrsCurrency}}</h6>
                        <p class="card-text">{{listing.description}}</p>
                        <div>
                            <span *ngFor="let tag of listing.tags" class="badge badge-pill badge-info">{{tag.name}}</span>
                        </div>
                        <button type="button" [routerLink]="['/listing', listing.id, 'edit']"
                            *ngIf="currentAccount?.id === listing.owner.id" class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>Edit</span>
                        </button>
                        <button type="button" [routerLink]="['/offer', 'new']" [queryParams]="{ listingId: listing.id}"
                            *ngIf="currentAccount?.id !== listing.owner.id" class="btn btn-success">
                            <fa-icon [icon]="'hand-holding-usd'"></fa-icon>&nbsp;<span> Offer</span>
                        </button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{listing.timestamp | date:'medium'}}</small>
                    </div>
                </div>
            </dl>

        </div>
    </div>
    <div class="col-8">
        <h1>Offers</h1>
        <jhi-listing-offer *ngFor="let offer of offers" [offer]="offer"></jhi-listing-offer>
    </div>
</div>
