<div class="table-responsive" *ngIf="listings?.length > 0">
    <table class="table table-borderless table-hover">
        <tbody>
        <tr *ngFor="let listing of listings ;trackBy: trackId" style="cursor: pointer">
            <td [routerLink]="['listing', listing.id, 'view']" placement="top" ngbTooltip="{{listing.type === listingType.WANT ? 'Buying' : 'Selling'}}" container="body">
                <embed  [src]="'/content/images/' + (listing.type === listingType.WANT ? 'buy' : 'sell') + '-arrow.svg' | safe:'resourceUrl'" width="30px"></embed>
            </td>
            <td (click)="onProfileClick(listing)">
                <jhi-user-profile [user]="listing.owner"></jhi-user-profile>
            </td>
            <td [routerLink]="['/listing', listing.id, 'view']">{{listing.rsn}}</td>
            <td [routerLink]="['/listing', listing.id, 'view']">{{listing.amount | osrsCurrency}}</td>
            <td [routerLink]="['/listing', listing.id, 'view']">{{listing.timestamp | timeAgo}}</td>
        </tr>
        </tbody>
    </table>
</div>
