<div class="table-responsive" *ngIf="listings?.length > 0">
    <table class="table table-borderless table-hover">
        <tbody>
        <tr *ngFor="let listing of listings;" style="cursor: pointer">
            <td (click)="onProfileClick(listing)">
                <jhi-user-profile [user]="listing.owner"></jhi-user-profile>
            </td>
            <td [routerLink]="['/listing', listing.id, 'view']">{{listing.rsn}}</td>
            <td [routerLink]="['/listing', listing.id, 'view']">
                <span class="badge badge-pill badge-info" *ngFor="let tag of listing.tags">
                    {{tag.name}}
                </span>
            </td>
            <td [routerLink]="['/listing', listing.id, 'view']">{{listing.amount | osrsCurrency}}</td>
        </tr>
        </tbody>
    </table>
</div>
